@page
@model ResponseModel
@{
  ViewData["Title"] = "Response";
}
<div class="text-center">
  <p>VehicleType: @Model.Vehicle.VehicleType</h2>
  <p>MaxSpeed: @Model.Vehicle.MaxSpeed</h2>
  <p>AvgSpeed: @Model.Vehicle.AvgSpeed</h2>
  <p>SpeedUnit: @Model.Vehicle.SpeedUnit</h2>
</div>